<section class="left-section">
  <div class="ask-question">
      <a href="/create" class="ask-question__button">
          <i class="fas fa-plus"></i>
          <p>ask a question</p>
      </a>
  </div>

  <nav class="left-section__nav">
      <a href="/">All Questions</a>
      <a href="#">Tags</a>
      <a href="#">Badges</a>
      <a href="#">Categories</a>
      <a href="#">Users</a>
  </nav>

  <nav class="left-section__social-links">
      <div class="sprite facebook" alt="facebook"></div>
      <div class="sprite twitter" alt="twitter"></div>
      <div class="sprite google" alt="google"></div>
  </nav>

  <footer class="left-section__footer">
      <p>&#9400;2018 Enginethemes</p>
      <a href="#">Terms &#38; Privacy</a>
  </footer>
</section>