/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    width: 100%;
    height: max-content;
    position: relative;
    padding: 0;
    margin: 0;
}

.font--lighter {
    font-weight: 200;
}

a {
    text-decoration: none;
}