.questions__post {
    border-bottom: 1px solid rgba(211, 211, 211, 0.604);

    &-details {
        padding: 30px;
    }

    &-title {
        width: 100%;
        font-size: 24px;
        margin-bottom: 15px;
    }

    &-description {
        width: 600px;
        word-wrap: break-word;
        margin-top: 5px;
    }

    &-author {
        display: inline-flex;
        align-items: center;
        margin-top: 25px;
        width: 100%;
        font-size: 14px;
        color: #797878;
    
        div, p {
            margin: 0 15px; 
        }

        &-occupation {
            color: #ffffff;
            padding: 3px 8px;
            border-radius: 3px;
        }
    }

    &-category {
        color: #6382df;
    }

    &-author-image {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    &-stats-wrapper {
        padding: 30px;
        text-align: right;
    }

    &-stat {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid #b3b1b1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
        box-shadow: inset 0 0 5px 1px solid #d4d3d3;
        background: linear-gradient(0deg, #d4d3d3, #ffffff);

        &-label {
            width: 50px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 15px;
            font-size: 14px;
            transform: rotate(270deg)
        }
    }

    &-keywords {
        display: flex;
        align-items: center;
        margin-top: 25px;
    
        div {
            background: #f7f7f7;
            border-radius: 25px;
            border: 1px solid #f7f7f7;
            display: inline-block;
            padding: 2px 10px;
            font-size: 12px;
            margin: 0 10px 0 0;
            cursor: pointer;
            transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
    
            &:hover {
                background: #0633c9;
                box-shadow: none;
                color: #ffffff;
            }
        }
    }
}

.word-break-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.questions__grid-item {
    height: 100%;
    border-bottom: 1px solid rgba(211, 211, 211, 0.604);
    display: grid;
    grid-template-columns: 60% 40%;
}

.professor {
    background: #800080;
}

.reviewer {
    background: #0633c9;
}

.train {
    background: #159acf;
}