<header class="header header-grid">
  <div class="brand-logo">
      <h3 class="brand-logo__title">QA<span class="font--lighter">ENGINE</span></h3>
  </div>

  <div class="search-box">
      <input type="text" class="search-box__input" placeholder="Enter Keywords">
      <i class="fas fa-search search-box__icon"></i>
  </div>

  <div class="navbar flex-center">
      <i class="fas fa-bars navbar__icon"></i>
      <nav class="navbar__nav">
          <a href="#">Home</a>
          <a href="#" class="with-checkmark">About us</a>
          <a href="#">Blog</a>
          <a href="#">Term</a>
          <a href="#">Contact</a>
      </nav>
  </div>

  <div class="auth flex-center">
      <a href="#">Login or Register</a>
  </div>
</header>
