$aColor: #6382df;
$headerBackgroundColor: #2f3649;
$white: #ffffff;
$iconColor: rgb(207, 207, 207);
$navbarColor: #1a202c;
$navbarLinkColor: #acacad;

.header {
    background-color: $headerBackgroundColor;
    color: $white;
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    &-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 15% 35% 35% 15%;
        grid-template-columns: 15% 35% 35% 15%;
    }
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__title {
        margin-left: 25px;
        display: inline-block;
    }
}

.search-box {
    display: flex;
    width: 350px;
    height: 33px;
    border-radius: 25px;
    background-color: $white;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;

    &__input {
        width: 300px;
        height: 25px;
        border: none;
        padding-left: 5px;
        margin-left: 10px;
    
        &:focus {
            outline: none;
        }
    }

    &__icon {
        color: $iconColor;
        margin-right: 15px;
        font-size: 12px;
    }
}

.navbar__nav {
    background-color: $navbarColor;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    a{
        padding: 20px;
        color: $navbarLinkColor;
    }
}

.with-checkmark::after {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    text-decoration: inherit;
    margin-left: 5px;
}

.auth {
    text-align: center;

    a {
        color: $aColor;
    }
}

.navbar .navbar__icon {
    display: none;
}