<section class="right-section">
  <div class="rs__stats">
      <div class="rs__stats-questions stats-style">
          <p>Questions</p>
          <p class="rs__stats-amount">{{questionsLength}}</p>
      </div>
      <div class="rs__stats-members stats-style">
          <p>Members</p>
          <p class="rs__stats-amount">{{membersCount}}</p>
      </div>
  </div>

  <div class="rs__popular-tags">
      <h3>most used tags</h3>
      <hr>
      <nav class="rs__popular-tags-nav">
          <div class="rs__popular-tags-nav-item">business<span>x5</span></div>
          <div class="rs__popular-tags-nav-item">marketing<span>x5</span></div>
          <div class="rs__popular-tags-nav-item">google<span>x4</span></div>
          <div class="rs__popular-tags-nav-item">technology<span>x4</span></div>
          <div class="rs__popular-tags-nav-item">apps<span>x4</span></div>
          <div class="rs__popular-tags-nav-item">billionaire<span>x3</span></div>
          <div class="rs__popular-tags-nav-item">movie<span>x2</span></div>
          <div class="rs__popular-tags-nav-item">glass<span>x2</span></div>
      </nav>
      <a href="#">See more tags</a>
  </div>

  <div class="rs__hot-questions">
      <h3>hot questions</h3>
      <hr>
      <nav class="rs__hot-questions-nav">
          <div class="rs__hot-questions-nav-item">
              <img class="rs__hot-questions-nav-author" src="../../assets/images/author2.png" alt="marry">
              <a href="#">What are the best mobile apps for traveling?</a>
          </div>
          <div class="rs__hot-questions-nav-item">
              <img class="rs__hot-questions-nav-author" src="../../assets/images/author1.png" alt="admin">
              <a href="#">Select coordinates which fall withing a radius of a central point?</a>
          </div>
          <div class="rs__hot-questions-nav-item">
              <img class="rs__hot-questions-nav-author" src="../../assets/images/author1.png" alt="admin">
              <a href="#">How to become a billionaire in the next 5 years?</a>
          </div>
          <div class="rs__hot-questions-nav-item">
              <img class="rs__hot-questions-nav-author" src="../../assets/images/author3.png" alt="smith">
              <a href="#">Why isn't music free?</a>
          </div>
      </nav>
  </div>
</section>