$questionsDivBorderd: 3px solid rgb(87, 87, 245);
$membersDivBordered: 3px solid rgb(231, 160, 29);
$backgroundColor: #eef1f8;
$fontSize: 14px;
$black: #000000;
$statsColor: #acacad;
$questionLinkColor: #6382df;
$popTagColor: #f7f7f7;
$popTagBorder: 1px solid rgb(199, 198, 198);

.right-section {
    background-color: $backgroundColor;
    display: inline-block;
    position: absolute;
    bottom: 0;
    top: 90px;
    right: 0;
    width: 15%;
    height: 100%;

    div {
        background-color: $backgroundColor;
    }
}

.rs {
    &__stats {
        font-size: $fontSize;
        color: $statsColor;
        padding: 30px;
        
        &-questions {
            font-size: $fontSize;
            margin-bottom: 25px;
            border-left: $questionsDivBorderd;
        }

        &-members {
            border-left: $membersDivBordered;
        }

        &-amount {
            height: fit-content;
            font-size: 40px;
            font-weight: 500;
            color: $black;
        }
    }

    &__popular-tags {
        padding: 0 20px;
    
        a {
            font-size: $fontSize;
            color: $questionLinkColor;
            margin-top: 10px;
        }
    
        h3 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: $fontSize;
        }
    
        &-nav {
            display: flex;
            flex-direction: column;
            margin: 15px 0;

            &-item {
                width: fit-content;
                margin: 7px 0;
                background-color: $popTagColor;
                border-radius: 25px;
                border: $popTagBorder;
                display: inline-block;
                padding: 2px 10px;
                font-size: 12px;
                cursor: pointer;
            
                span {
                    position: absolute;
                    margin-left: 20px;
                }
            }
        }
    }

    &__hot-questions {
        padding: 20px 20px;
    
        h3 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: $fontSize;
        }
    
        a {
            font-size: $fontSize;
            color: $questionLinkColor;
            margin-top: 10px;
        }

        &-nav {
            padding: 10px;
        
            &-item {
                display: flex;
                align-items: flex-start;
                justify-content: baseline;
                margin: 10px 0;
            
                a {
                    margin: 0;
                    color: $questionLinkColor;
                    font-weight: 600;
                }
            }

            &-author {
                width: 20px;
                height: 20px;
                border-radius: 20px;
                margin-right: 15px;
            }
        }
    }
}

.stats-style {
    font-size: $fontSize;
    color: $statsColor;
    padding-left: 10px;
}

hr {
    margin-top: 10px;
    background: $statsColor;
}