$border: 1px solid rgba(211, 211, 211, 0.603);
$white: #ffffff;
$blue: #3598db;
$links: #949393;
$textColor: #808080;

.left-section {
    background-color: $white;
    border-right: $border;
    position: fixed;
    top: 90px;
    height: 100%;
    width: 200px;
    z-index: 1;

    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: $border;
    
        a {
            font-size: 14px;
            color: $links;
            padding: 15px 15px;
    
            &::before {
                font-family: "Font Awesome 5 Free";
                font-style: normal;
                font-weight: 900;
                text-decoration: inherit;
                margin: 0px 7px;
            }
    
            &:nth-child(1)::before {
                content: "\f059";
            }
    
            &:nth-child(2)::before {
                content: "\f02c";
            }
    
            &:nth-child(3)::before {
                content: "\f091";
            }
    
            &:nth-child(4)::before {
                content: "\f0ca";
            }
    
            &:nth-child(5)::before {
                content: "\f0c0";
            }
        }
    }

    &__social-links {
        border-bottom: $border;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $links;
        padding: 20px;
    
        div{
            margin: 0 7px;
        }
    }

    &__footer {
        font-size: 13px;
        color: $textColor;
        margin: 12px 30px;
    
        a {
            font-size: 13px;
            color: $blue;
            padding-top: 4px;
        }
    }
}

.ask-question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: $border;
    height: 140px;

    &__button {
        width: 170px;
        height: 45px;
        color: $white;
        border: none;
        border-radius: 3px;
        background: $blue;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    
        p {
            display: inline-block;
            margin-left: 7px;
            font-size: 14px;
            font-weight: 600;
        }
    }
}

.sprite {
    background-repeat: no-repeat;
    width: 24px;
	height: 24px;
}

.facebook {
    background: url('../images/24_facebook.png') no-repeat -29px 0;
    
    &:hover {
        background: url('../images/24_facebook.png') no-repeat 0 0;
    }
}

.twitter {
    background: url('../images/24_twitter.png') no-repeat -29px 0;

    &:hover {
        background: url('../images/24_twitter.png') no-repeat 0 0;
    }
}

.google {
    background: url('../images/24_google.png') no-repeat -29px 0;

    &:hover {
        background: url('../images/24_google.png') no-repeat 0 0;
    }
}