$font: Arial, Helvetica, sans-serif;

* {
    padding: 0;
    margin: 0;
    font-family: $font;
}

body, html {
    width: 100%;
    height: max-content;
    position: relative;
}

.font--lighter {
    font-weight: 200;
}

a {
    text-decoration: none;
}