$questionFilterLinkColor: #b3b1b1;
$questionBorder: 1px solid rgba(211, 211, 211, 0.604);
$selectedFilterBorder: 2px solid #ffa500;
$authorNameColor: #797878;
$white: #ffffff;
$inputOutlineColor: #03acc2c0;
$deleteButtonColor: rgba(224, 39, 39, 0.847);
$confirmButtonColor: #45af1e;
$dropdownBorder: 1px solid #d4d3d3;
$dropdownBackground: #eef1f8;
$dropdownFilter: drop-shadow(0 0 1px rgba(196, 196, 196, 0.706));
$keywordBackground: #f7f7f7;
$deleteModalBorder: 1px solid #2f3649;

.questions {
    display: inline-block;
    margin-top: 90px;
    margin-left: 200px;
    margin-right: 15%;
    width: -webkit-fill-available;

    &__grid-item {
        height: 100%;
        border-bottom: $questionBorder;
        display: grid;
        grid-template-columns: 60% 40%;
    }

    &__title-row {
        height: 140px;
    }

    &__selection{
        &-row {
            height: 50px;
        }

        &-nav {
            display: flex;
            align-items: flex-start;
        
            a {
                display: flex;
                align-items: center;
                margin: 0 15px;
                color: $questionFilterLinkColor;
                font-size: 14px;
                height: 100%;
            }
        
            &--active {
                border-bottom: $selectedFilterBorder;
            }
        }
    }

    &__title {
        margin-left: 20px;
        font-weight: 100;
    
        &-wrapper {
            display: flex;
            align-items: center;
        }
    }

    &__dropdown {
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        &-amount {
            list-style-type: none;
            float: right;
            width: 65px;
            height: 25px
        }

        &-category {
            float: right;
            width: 230px;
            height: 27px;
        }

        &-label {
            font-size: 14px;
            margin-right: 10px;
            color: $questionFilterLinkColor;
        }
    }
}

.dropdown {
    margin-right: 15px;
    align-self: center;
    line-height: 46px;
    color: $authorNameColor;
    border: $dropdownBorder;
    filter: $dropdownFilter;
    background: $dropdownBackground;
}