$backgroundColor: #1a202c;

@media (max-width: 600px) {
    .header {
        max-width: 100vw;
        display: grid;
        grid-template-columns: 80% auto;
    }

    .search-box {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;

        &__icon {
            display: block;
        }

        &:hover &__nav{
            flex-direction: column;
            align-items: center;
            width: 100%;
            overflow-x: visible;
            position: absolute;
            top: 90px;
            visibility: visible;
        }

        &__nav {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            overflow-x: visible;
            position: absolute;
            top: 90px;
            visibility: hidden;
            height: max-content;
    
            a { 
                background-color: $backgroundColor;
                width: 100%;
                margin: 0 30px;
                padding: 20px;
                position: relative;
            }
        }
    }

    .auth {
        display: none;
    }
 }