.post-form {
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
    font-size: 25px;
    z-index: 1;

    select {
        width: 100%;
        margin-right: 0;
        font-size: 18px;

        option {
            padding: 5px;
        }
    }

    label{
        padding: 20px 0 5px 0;
    }

    input, select {
        height: 30px;
        border-radius: 3px;
        outline-color: #03acc2c0;
        padding: 0 20px 0;
    }

    textarea {
        border-radius: 3px;
        outline-color: #03acc2c0;
        padding: 10px 20px 0;
    }

    button {
        width: 150px;
        margin: 25px auto;
        height: 50px;
        background-color: #45af1e;
        border: none;
        border-radius: 3px;
        color: #ffffff;
        text-transform: uppercase;
    }

    &-container {
        display: flex;
    }
}

.form__button-actions {
    z-index: 5;
    margin: 0 auto;

    button {
        margin: 20px 50px;
        cursor: pointer;
    }
}

#deleteButton {
    background-color: rgba(224, 39, 39, 0.847);
}

.delete-modal {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 0;

    &__content {
        position: absolute;
        width: fit-content;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #2f3649;
        visibility: hidden;
    
        p:first-child {
            font-size: 24px;
            border-bottom: 1px solid #b8b8b8;
        }
    
        p {
            padding: 25px;
        }
    }

    &__action-buttons {
        display: flex;
        justify-content: flex-end;
    
        button {
            width: 150px;
            height: 50px;
            border: none;
            border-radius: 3px;
            color: #ffffff;
            text-transform: uppercase;
            margin: 20px 20px;
            cursor: pointer;
        }
        
        .delete-confirm {
            background: #ffffff;
            color: rgba(224, 39, 39, 0.847);
            border: 1px solid rgba(224, 39, 39, 0.847);
        }
    
        .delete-cancel {
            background: #45af1e;
            color: #ffffff;
        }
    }
}

.visibility {
    visibility: visible;
}

.on-modal-blur {
    filter: blur(10px);
    z-index: 1;
}