<div class="questions__grid-item questions__title-row">
  <div class="questions__title-wrapper">
      <h1 class="questions__title">{{title}}</h1>
  </div>
  <div *ngIf="filter" class="questions__dropdown-wrapper">
      <select disabled class="questions__dropdown-category dropdown">
          <option selected hidden>Filter by category</option>
      </select>
  </div>
</div>