<section id="questions-container" class="questions">
    <section-header [title]="title"></section-header>

    <div class="post-form-container">
        <app-form-component [toggleModal]="bindedCallback" [question]="question"></app-form-component>
    </div>
</section>

<div *ngIf="openModal" class="delete-modal">
    <div class="delete-modal__content" id="toggle-modal-visibility">
        <p>Do you really want to delete this question?</p>
        <p>There is no way back!</p>
        <div class="delete-modal__action-buttons">
            <button (click)="deleteQuestion()" class="delete-confirm">Delete</button>
            <button (click)="toggleModal()" class="delete-cancel">Cancel</button>
        </div>
    </div>
</div>