<section id="questions-container" class="questions">
  <section-header title="All Questions" filter=true></section-header>

  <div id="questions-sibling" class="questions__grid-item questions__selection-row">
      <nav class="questions__selection-nav">
          <a href="#" class="questions__selection-nav--active">Latest</a>
          <a href="#">Votes</a>
          <a href="#">Unanswered</a>
      </nav>
      <div class="questions__dropdown-wrapper">
          <p class="questions__dropdown-label">Questions per page: </p>
          <select disabled class="questions__dropdown-amount dropdown">
              <option selected hidden>12</option>
          </select>
      </div>
  </div>

  <div id="questions-list-container">
      <question [question]="question" *ngFor="let question of questions"></question>
  </div>
</section>

<right-sidebar [questionsLength]="questions && questions.length" [membersCount]="questions && getUniqueMembers()"></right-sidebar>