<form class="post-form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <label for="post-title">Title</label>
  <input formControlName="title" id="post-title" type="text" required>

  <label for="post-description">Question</label>
  <textarea formControlName="description" id="post-description" cols="30" rows="10" required></textarea>

  <div formGroupName="author" class="author-group">
    <label for="name">Author Name</label>
    <input formControlName='name' id="name" type="text" required>

    <label for="occupation">Author Occupation</label>
    <select formControlName="occupation" id="occupation" dropdown required>
      <option disabled>Occupation</option>
      <option>Professor</option>
      <option>Reviewer</option>
      <option>Train</option>
    </select>

    <label for="imgurl">Author Image Url</label>
    <input formControlName='imgUrl' id="imgurl" type="text" required>
  </div>

  <label for="keywords">Keywords</label>
  <input formControlName='keywords' id="keywords" type="text" required>

  <label for="category">Category</label>
  <input formControlName='category' id="category" type="text" required>

  <div *ngIf="question" class="form__button-actions">
    <button id="editButton">Edit Question</button>
    <button (click)="toggle()" id="deleteButton" type="button">Delete Question</button>
  </div>

  <button *ngIf="!question" id='postButton' [disabled]="!editForm.valid">Post Question</button>
</form>